.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  border-bottom: 1px solid black;
}

@media (max-width: 350px) {
  .HeaderContainer {
    padding: 0;
  }
}
